<head>
  <meta charset="UTF-8">
  <title>Find Your New Favorite Podcast</title>
  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}
  {{!-- we can change title later just a placesaver for now --}}
</head>

<body>
  <div class="flex-column justify-space-around">
    <form class="search-form">
      <input class="form-input" id="search-input" type="text" placeholder="Search Shack">
      <button class="button button-primary space-top" id="searchBtn">Search</button>
      <button class="button button-primary space-top"  id="shackBtn">Shack Me</button>
    </form>
  </div>
  <div>
  </div>

  <script src=".public/js/search.js"></script>

</body>